<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/details.css" />

    <title>Document</title>
  </head>
  <body>
    
    <div class="container">
      <div class="card">
        <img src="<%= urun.img %> " alt="" />
        <div class="text">
          <h1><%= urun.name %></h1>
          <p class="price">Fiyat : <%= urun.price %></p>
          <p>
            <% if (urun.isActive) { %>
            <span> Ürün satışda</span>
            <% } else { %>
            <span>Ürün satışda degil</span>

            <% }%>
          </p>
        </div>
      </div>
    
  </body>
</html>
