.body2{
    margin:0;
    padding:0;
}

.container{
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%;
    height:100vh;
}
.card2{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-right: auto;
    align-items: center;
    background-color: chocolate;
    justify-content:center;


    
    
}
.foto{
    width: 200px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.text{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(48, 30, 210);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;

}
