.body2{
    margin:0;
    padding: 0;
    background-color:rgba(141, 140, 140, 0.295);
}
.urunler{
    display:flex;
    width: 90%;
    height: 100vh;
    margin:10px;
    
   
    flex-wrap: wrap;
    

}
.card2{
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
    
}
.card2:hover{
   
    transform: scale(1.1);
    margin-left: 20px;

}
.foto{
    width: 200px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.foto:hover{
    box-shadow: rgb(35, 33, 33) 0px 54px 55px, rgb(255, 255, 255) 0px -12px 30px, rgba(252, 249, 249, 0.971) 0px 4px 6px, rgb(255, 252, 252) 0px 12px 13px, rgba(255, 254, 254, 0.857) 0px -3px 5px;
}
#link2{
    display:flex;
    border: 1px solid;
    width: 200px;
    color:white;
    justify-content: center;
    background-color:rgba(10, 10, 191, 0.561);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;

    

}